@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.curve-btn {
  background-color: #EEEBD3;
  color: #255957;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #255957;
  box-shadow: 0 0 0 0 #255957;
}

.curve-btn:hover {
  transform: translateY(-6px) translateX(-4px);
  box-shadow: 2px 5px 0 0 #255957;
};

.curve-btn:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #255957;
};

.contactIcon{
  transition: all 0.5s ease-in-out;
}

.contactIcon:hover {
  fill: #255957;
  transform: translateY(-7px);
}