@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.curve-btn {
  background-color: #EEEBD3;
  color: #255957;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #255957;
  box-shadow: 0 0 0 0 #255957;
}

.curve-btn:hover {
  transform: translateY(-6px) translateX(-4px);
  box-shadow: 2px 5px 0 0 #255957;
};

.curve-btn:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #255957;
};

.contactIcon {
  transition: color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.contactIcon:hover {
  color: #255957;
  transform: translateY(-7px);
}

.image-container {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  width: 320px;
  height: 390px;
}

.image-container:hover {
  transform: translateY(-9px) translateX(-7px);
  box-shadow: 2px 5px 0 0 #255957;
}

.me-img {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #255957;
  box-shadow: 0 0 0 0 #255957;
}

.color-overlay {
  background-color: #437C90;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.image-container:hover .color-overlay {
  opacity: 0;
}
